<br/>
<br/>

<div id="rrbs_resource">
    <%= label_tag("label_rrbs_resource", l(:label_rrbs_resource)) %><br/>
    <% @rrbs_resources.each do |r| %>
      <%= check_box_tag "rrbs_resource_checkbox", r[1], false, {:multiple => true } %><%= r[0] %><br/>
    <% end %>
    
    <br/>
    <br/>
    
    <div id="status_name_book"><p><%= l(:label_rrbs_status_name_book) %></p></div>
    <div id="status_name_progress"><p><%= l(:label_rrbs_status_name_progress) %></p></div>
    <div id="status_name_complete"><p><%= l(:label_rrbs_status_name_complete) %></p></div>
    
</div>


<script type="text/javascript">
    var baseUrl = "<%= @base_url %>";
    var project_id = "<%= @rrbs_setting.project_id.to_i %>"
    var tracker_id = "<%= @rrbs_setting.tracker_id %>"

	var fieldIdResource = "<%= @rrbs_setting.custom_field_id_room %>";
	var fieldIdStart = "<%= @rrbs_setting.custom_field_id_start %>";
	var fieldIdEnd = "<%= @rrbs_setting.custom_field_id_end %>";
	
	var pluginName = "redmine_resource_booking_system";
    
  	var user_is_manager = <%= @user_is_manager %>;
	var user_can_add = <%= @user_can_add %>;
	var user_can_edit = <%= @user_can_edit %>;
	var user_can_delete = <%= @user_can_delete %>;
    
    var redmine_date_format = "<%= Setting.date_format %>".replace(/%Y/g, 'YYYY').replace(/%m/g, 'MM').replace(/%d/g, 'DD').replace(/%b/g, 'MMM').replace(/%B/g, 'MMMM');
    var redmine_time_format = "<%= Setting.time_format %>".replace(/%H/g, 'HH').replace(/%M/g, 'mm').replace(/%I/g, 'hh').replace(/%p/g, 'A');
    
    
    var current_lang = '<%= I18n.locale %>';
	
	
	var langUpdateEvent = "<%= l(:label_rrbs_update_event) %>";
	var langCreateEvent = "<%= l(:label_rrbs_create_event) %>";
	
	var label_rrbs_subject = "<%= l(:label_rrbs_subject) %>";
	var label_rrbs_resource = "<%= l(:label_rrbs_resource) %>";
	var label_rrbs_assigned_to = "<%= l(:label_rrbs_assigned_to) %>";
	var label_rrbs_start_time = "<%= l(:label_rrbs_start_time) %>";
	var label_rrbs_end_time = "<%= l(:label_rrbs_end_time) %>";
	var label_rrbs_issueid = "<%= l(:label_rrbs_issueid) %>";
	
	var tracker_name = "<%= Tracker.find(@rrbs_setting.tracker_id).name %>";
	var rrbs_resources = <%= raw(@rrbs_resources ) %>;
	var all_start_times = <%= raw(@rrbs_start_time.collect { |time| time }) %>;
	var all_end_times = <%= raw(@rrbs_end_time.collect { |time| time }) %>;
	
	var datetime_min = all_start_times[0] + ':00';
    var datetime_max = all_end_times[all_end_times.length-1] + ':00';

	var api_key = "<%= @api_key %>";
	var status_name ;
	var project_id =  "<%= @rrbs_setting.project_id %>";
	var issue_status_id_book = "<%= @rrbs_setting.issue_status_id_book.to_i %>";
	var issue_status_id_progress = "<%= @rrbs_setting.issue_status_id_progress.to_i %>";
	var issue_status_id_complete = "<%= @rrbs_setting.issue_status_id_complete.to_i %>";
	var tracker_id = "<%= @rrbs_setting.tracker_id %>";
	
</script>



<!-- library 読み込み  -->
<%= stylesheet_link_tag 'fullcalendar/fullcalendar.min.css',:plugin => 'redmine_resource_booking_system' %>
<%= stylesheet_link_tag 'fullcalendar/fullcalendar.print.css',:plugin => 'redmine_resource_booking_system',:media => 'print' %>
<%= stylesheet_link_tag 'fullcalendar/cupertino/jquery-ui.min.css',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/lib/moment.min.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/lib/jquery.min.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/lib/jquery-ui.min.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/lib/jquery-ui.custom.min.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/fullcalendar.min.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'fullcalendar/locale-all.js',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'jquery.qtip/jquery.qtip.min.js' ,:plugin => 'redmine_resource_booking_system'%>
<%= javascript_include_tag 'jquery.alerts/jquery.alerts.js' ,:plugin => 'redmine_resource_booking_system'%>


<!-- 自作assets 読み込み  -->
<%= stylesheet_link_tag 'rrbs_style_171116.css',:plugin => 'redmine_resource_booking_system' %>
<%= javascript_include_tag 'setup.js',:plugin => 'redmine_resource_booking_system'%>
<%= javascript_include_tag 'rrbs_calendar_180802.js',:plugin => 'redmine_resource_booking_system' %>





<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<div id='calendar'></div>




<div id="footer_message">
    <%= textilizable @rrbs_setting.footer_message %>
</div>


<!-- イベント編集画面  -->
<div class="rrbs_saveModal">
	<div class="formLayout">
			<%= label_tag(:subject, l(:label_rrbs_subject)) %><%= text_field_tag :subject, "aaa", :maxlength => 255 %><br/>
	
	    <div id="selected_resource_container">
	        <%= label_tag("selected_resource", l(:label_rrbs_resource)) %><%= select_tag "selected_resource", options_for_select(@rrbs_resources) %><br/>
	    </div>
            <%= label_tag("booking_date", l(:label_rrbs_start_date)) %><%= text_field_tag("booking_date") %><br/>
            <%= label_tag("start_time", l(:label_rrbs_start_time)) %><%= select_tag "start_time", options_for_select(@rrbs_start_time) %><br/>
            
            
	        <%= label_tag("booking_end_date", l(:label_rrbs_end_date)) %><%= text_field_tag("booking_end_date") %><br/>
	        <%= label_tag("end_time", l(:label_rrbs_end_time)) %><%= select_tag "end_time", options_for_select(@rrbs_end_time) %><br/>

	    	<%= label_tag(:assigned_to, l(:label_rrbs_assigned_to)) %> <%= select_tag "selected_assigned_to", options_for_select(@assignable_users, @user) %><br/>
		
		<div id="selected_issue_status_container">
	        <%= label_tag("selected_issue_status", l(:label_rrbs_set_status)) %><%= select_tag "selected_issue_status", options_for_select(@issue_status_ids) %><br/>
	    </div>
		
    </div>
    <%= submit_tag l(:label_rrbs_save), :type => 'button', :id=>"save_booking" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag l(:label_rrbs_delete), :type => 'button', :id=>"delete_booking" %>
    
    
    <%= hidden_field_tag :project_id, @project_id %>
    <%= hidden_field_tag :author_id, @user.id %>
    <%= hidden_field_tag :user_name, @user_name %>
    <%= hidden_field_tag :event_id, '' %>
    <%= hidden_field_tag :issue_id, @issue_id %>
</div>


